@import "tailwindcss";

*,
*::before,
*::after {
  box-sizing: border-box;
}

input,
button,
textarea,
select {
  font: inherit;
}

#root {
  background-color: rgb(3, 7, 18);
  color: white;
  min-height: 100vh;
}
